<header class="header bg-primary">
    <div class="container">
        <ul class="nav justify-content-end">
                <li class="nav-item">
                        <a ui-sref="main" ui-sref-active="active">Main</a>
                    </li>
            <li class="nav-item">
                <a ui-sref="converter" ui-sref-active="active">Converter</a>
            </li>
            <li class="nav-item">
                <a ui-sref="autorization" ui-sref-active="active">Autorization</a> 
            </li>
            <li class="nav-item">
                <a ui-sref="admin" ui-sref-active="active">Admin</a>
            </li>
            <li class="nav-item">
                <a ui-sref="user" ui-sref-active="active">User</a>
              </li>
          </ul>
</header>